<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OllamaEndpoint" value="http://localhost:11434"/>
    <add key="MCPServerEndpoint" value="http://localhost:8080"/>
    <add key="UnrealEngineEndpoint" value="ws://localhost:8888"/>
    <add key="TTSEndpoint" value="http://localhost:5000"/>
    <add key="PiperDataDir" value="Media\PiperVoices"/>
    <add key="PiperDefaultModel" value="en_US-amy-medium"/>
    <add key="StableDiffusionEndpoint" value="http://localhost:8188"/>
    <add key="DataBankPath" value="Data\Databanks"/>
    <add key="LogsPath" value="Logs"/>
    <add key="MediaPath" value="Media"/>
    <add key="RefreshIntervalMs" value="1000"/>
    <add key="EnableOverlay" value="true"/>
    <add key="OverlayOpacity" value="0.85"/>
    <add key="AutoHideTrays" value="true"/>
    <add key="AutoHideDelayMs" value="3000"/>
    <add key="MT4DataPath" value="C:\Program Files (x86)\MetaTrader 4 FOREX.com US"/>
    <add key="CovasBridgeEnabled" value="false"/>
    <add key="CovasBridgeEndpoint" value="http://localhost:11435"/>
    <add key="CovasContactId" value=""/>
    <add key="EnablePgVector" value="false"/>
    <add key="PgVectorConnectionString" value=""/>
    <add key="HybridLexicalWeight" value="0.5"/>
  </appSettings>
</configuration>
